<div class="row">
  <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4"><%= @post.title %></h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#"><%= @post.user.firstname + ' ' + @post.user.lastname %></a> in <%= @post.categories.pluck(:name).join(",") if @post.categories.present? %>
          </p>

          <hr>

          <!-- Date/Time -->
          <p><%= @post.created_at.strftime("%b %d") %></p>

          <hr>

          <!-- Preview Image -->
          
          <%= image_tag(@post.featureimage_url, class: 'img-fluid rounded') if @post.featureimage.present? %>
   

          <hr>

          <!-- Post Content -->
          
          <p><%= simple_format(@post.content) %></p>
          
          <br/>          
          <% if current_user %>
            <%= link_to "Edit", edit_post_path, class: "btn btn-success" %>
            <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
          <% end %>

          <hr>
    
          <div class="card">
            <h3 class="card-header">Meet the Author</h3>
            <div class="card-body">
              <h3><%= @post.user.firstname + ' ' + @post.user.lastname %></h3>
              <p><%= @post.user.userbio %></p>
            </div>  
          </div>
          
          <hr>
    
          <!-- Comments Form -->
          <%= render 'comments/form' %>

          <% if @post.comments.any? %>
            <h5>Comments</h5>
            <%= render partial: 'comments/comment', collection: @post.comments.reverse %>
            
          <% end %>

          <!-- Comment with nested comments -->
         

        </div>
  
  <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <% @categories.each do |category| %>
                    <li>
                      <%= link_to category.name, category %></a>
                    </li>
                    <% end %>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
</div>
</div>